@theme {
  --btn-px: calc(var(--spacing) * 2);
  --btn-py: calc(var(--spacing) * 0.5);
  --btn-focus-indicator-color: var(--color-secondary);

  --radioset-p: calc(var(--spacing) * 1);
}

@utility btn {
  @apply flex items-center gap-1 border whitespace-nowrap transition;
  @apply cursor-default;

  padding-inline: var(--btn-px);
  padding-block: var(--btn-py);

  border-color: var(--btn-border-color);
  background-color: var(--btn-bg-color);

  color: var(--btn-text-color);

  transition-property: color, background-color, box-shadow;

  @variant disabled {
    @apply cursor-auto text-on-surface/38;

    & * {
      @apply text-on-surface/38;
    }
  }

  @variant focus-visible {
    @apply outline-3;
    outline-color: var(--btn-focus-indicator-color);
  }
}

@utility btn-icon-filled {
  & icon {
    font-variation-settings: "FILL" 1;
  }
}

@utility btn-filled {
  @apply btn;

  --btn-base-color: var(--color-primary);
  --btn-text-color: var(--color-on-primary);
  --btn-state-color: var(--color-on-primary);

  --btn-bg-color: var(--btn-base-color);
  --btn-border-color: transparent;

  @variant not-disabled {
    @variant hover {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 92%,
        var(--btn-state-color)
      );
      @apply shadow-md btn-icon-filled;
    }

    @variant [:active, :focus-visible] {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 90%,
        var(--btn-state-color)
      );
      @apply btn-icon-filled;
    }
  }

  @variant disabled {
    @apply bg-on-surface/12;
  }
}

@utility btn-outlined {
  @apply btn;

  --btn-base-color: var(--color-primary);
  --btn-text-color: var(--color-primary);
  --btn-state-color: transparent;

  --btn-bg-color: transparent;
  --btn-border-color: var(--color-outline);

  @variant not-disabled {
    @variant hover {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 8%,
        var(--btn-state-color)
      );
      @apply btn-icon-filled;
    }

    @variant [:active, :focus-visible] {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 10%,
        var(--btn-state-color)
      );
      @apply btn-icon-filled;
    }
  }

  @variant disabled {
    @apply border-on-surface/12;
  }
}

@utility btn-text {
  @apply btn;

  --btn-base-color: var(--color-primary);
  --btn-text-color: var(--color-primary);
  --btn-state-color: transparent;

  --btn-bg-color: transparent;
  --btn-border-color: transparent;

  @variant not-disabled {
    @variant hover, open {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 8%,
        var(--btn-state-color)
      );
      @apply btn-icon-filled;
    }

    @variant [:active, :focus-visible] {
      --btn-bg-color: color-mix(
        in oklab,
        var(--btn-base-color) 10%,
        var(--btn-state-color)
      );
      @apply btn-icon-filled;
    }
  }
}

@utility btn-size-lg {
  @apply text-2xl;

  --btn-px: calc(var(--spacing) * 3);
  --btn-py: calc(var(--spacing) * 1);

  & icon {
    font-size: 28px;
  }
}

@utility btn-size-xl {
  @apply text-3xl;

  --btn-px: calc(var(--spacing) * 4);
  --btn-py: calc(var(--spacing) * 1.5);

  & icon {
    font-size: 32px;
  }
}

@utility btn-sq {
  --btn-px: var(--btn-py);
}
