@plugin "@tailwindcss/typography";

/* Default colors are theme grey */
@utility prose {
  --tw-prose-body: var(--color-on-surface);
  --tw-prose-headings: var(--color-on-surface-variant);
  --tw-prose-lead: var(--color-on-surface-variant);
  --tw-prose-links: var(--color-on-surface-variant);
  --tw-prose-bold: var(--color-on-surface-variant);

  --tw-prose-counters: var(--color-secondary);
  --tw-prose-bullets: var(--color-secondary);
  --tw-prose-hr: var(--color-outline-variant);
  --tw-prose-quotes: var(--color-primary);
  --tw-prose-quote-borders: var(--color-outline-variant);

  --tw-prose-captions: var(--color-on-surface-variant);
  --tw-prose-kbd: var(--color-secondary);
  --tw-prose-kbd-shadows: 0 0 0;
  --tw-prose-code: var(--color-on-surface-variant);
  --tw-prose-pre-code: var(--color-on-surface-variant);
  --tw-prose-pre-bg: var(--color-surface-container-high);
  --tw-prose-th-borders: var(--color-outline);
  --tw-prose-td-borders: var(--color-outline-variant);

  @variant dark {
    --tw-prose-kbd-shadows: 255 255 255;
  }

  h1,
  h2,
  h3 {
    @apply font-serif text-primary normal-case;
  }

  :where(pre, code, kbd) {
    border-radius: 0;
  }
}
