---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout title="zoidberg.tech">
  <script is:inline>
    if (!document.cookie.split("; ").includes("welcome_seen=true")) {
      window.location.replace("/welcome");
    }
  </script>
  <main class="text-center">
    <h2 class="font-brand text-2xl text-primary md:text-4xl">coming soon</h2>
  </main>
</BaseLayout>
