---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="zoidberg.tech">
  <main class="text-center">
    <canvas id="z-logo" class="mx-auto mt-10 mb-2 aspect-square h-[50vh] w-full"
    ></canvas>
    <h1 class="font-brand text-6xl text-primary">zoidberg.tech</h1>
    <div class="my-4">
      <h2 class="text-xl">Systems engineer</h2>
      <h2 class="text-xl">Software • Hardware • Infrastructure</h2>
      <h3 class="opacity-70">Occasional menance</h3>
    </div>

    <a
      href="/home"
      class="mx-auto btn-text inline-block font-mono btn-size-lg text-secondary"
      >&gt; ENTER<span class="animate-blink">█</span></a
    >
  </main>
</BaseLayout>
