---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout title="zoidberg.tech">
  <script is:inline>
    if (!document.cookie.split("; ").includes("welcome_seen=true")) {
      window.location.replace("/welcome");
    }
  </script>
  <main class="box">
    <h2>Home</h2>
    <p>Coming soon</p>
  </main>
</BaseLayout>
